
.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    text-align: center;
    justify-content: center;
}

th {
    background-color: #f2f2f2;
}

.left {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e9e9e9;
}

.container {
    max-width: 800px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #333;
}

.invisible {
    display: none;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
}

.modify-screen, .update-screen {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modifica-input {
    margin-bottom: 10px;
}

.buttons-choose {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    flex-direction: row;
    gap: 10px;
}


.dropdownContainer {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.scelta-dropdown {
    display: flex;
    gap: 1rem;
    background: #0069d9;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;

}

.aggiungi {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.paginazione {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.pagination {
    gap: 1rem;
}

.dropdown-scelta-item {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.fixed-width {
    width: 16vw;
}