@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --black-footer: #262525;
    --light-blue: #54a5fa;
}

.welcome-string {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.footer {
    background-color: var(--black-footer);
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 2rem;
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .github-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    border: 2px solid white;
    border-radius: 50%;
}

header {
    font-size: x-large;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--light-blue);
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}


.footer-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 3rem 1rem 0 1rem;
}

html {
    height: 100%;
}


/*POPUP E ANIMAZIONE POPUP*/


.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(1px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #00000080;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.popup {
    padding: 1rem;
    animation: all 0.3s ease-in;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: black 1px solid;*/
    min-height: 30rem;
    min-width: 30rem;
    border-radius: 1rem;
    box-shadow: #00000080 0 0 10px;
}

/*quando il popup viene messoo a dispay:flex, fa animazione*/
@keyframes all {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header-a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.textarea-note {
    resize: none;
    width: 100%;
}

/*FINE POPUP*/
