<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="it" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>My webmarket</title>
    <link rel="stylesheet" href="style/admin-style.css" type="text/css"/>
    <link rel="stylesheet" href="style/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="style/tecnico-ordini.css" type="text/css"/>
    <link rel="stylesheet" href="style/tecnico-preventivi.css" type="text/css"/>
</head>
<body>
<div class="container">
    <#include "modules.navbar.ftl.html">
    <#include content_tpl>
</div>
</body>
</html>