<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnico preventivi Dashboard</title>
</head>
<body>
    <div class="header">
        <label>Ciao, </label>
        <button class="logout-button">
        </button>
    </div>
    <div class="container">
        <button class="choice-button" id = >
            <div class="no-preventivi preventivi">
                <div class="img">

                </div>
                <div class="info">
                    <label class="title">Nessun preventivo</label>
                    <label class="descrizione"> Non ci sono preventivi da visualizzare </label>
                </div>
            </div>

        </button>
        <button class="choice-button">
            <div class="tuoi-preventivi preventivi">
                <div class="img">
                    
                <div class="info">
                    <label class="title">Preventivi assegnati</label>
                    <label class="descrizione"> Qui puoi visualizzare i preventivi assegnati a te </label>
                </div>
            </div>
        </button>
    </div>

    <!--inizio div popup-->

    <div class="popup-container" id="add" style="display: ${visibilityUpdate!"none"}">
        <div class="popup">

        <!--fine div popup-->
            adhu8ofdoawe
        </div>
    </div>

</body>

<link rel="stylesheet" href="../style/tecnico-preventivi.css">

</html>