<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnico preventivi Dashboard</title>
</head>
<body>
    <div class="header">
        <label>Ciao, </label>
        <button class="logout-button">
            <img src="https://img.icons8.com/?size=512&id=2445&format=png" alt="logout" class="exit-img">
        </button>
    </div>
    <div class="container">
        <button class="choice-button" id = >
            <div class="no-preventivi preventivi">
                <div class="img">
                    <img src="https://img.icons8.com/?size=512&id=132&format=png" alt="preventivi ancona non assegnati">
                </div>
                <div class="info">
                    <label class="title">Nessun preventivo</label>
                    <label class="descrizione"> Non ci sono preventivi da visualizzare </label>
                </div>
            </div>

        </button>
        <button class="choice-button">
            <div class="tuoi-preventivi preventivi">
                <div class="img">
                    <img src="https://img.icons8.com/?size=512&id=1395&format=png" alt="i tuoi preventivi">
                </div>
                <div class="info">
                    <label class="title">Preventivi assegnati</label>
                    <label class="descrizione"> Qui puoi visualizzare i preventivi assegnati a te </label>
                </div>
            </div>
        </button>
    </div>

</body>

<link rel="stylesheet" href="../style/tecnico-preventivi.css">

</html>